// src/content-scripts/youtube/styles/videoData.scss
// Video data styles
#yt-enhancer-video-info {
  display: flex;
  width: max-content;
  align-items: center;
  gap: 4px;
  margin-top: 0.4rem;
}

#info-container {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0.8rem 1.2rem;
  font-size: 1.6rem;
  color: var(--yt-spec-text-primary);
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 2rem;
}

#yt-enhancer-refresh-btn {
  display: flex;
  background: rgba(255, 255, 255, 0.1);
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  color: var(--yt-spec-text-primary);
  transition: all 0.2s ease;
  width: 40px;
  height: 40px;

  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}

#yt-enhancer-dvr-indicator {
  display: inline-flex;
  align-items: center;
  color: #fff;
  font-size: inherit;
  font-weight: 500;
  font-family: Roboto, Arial, sans-serif;
  white-space: nowrap;
  margin-left: 8px;
  vertical-align: middle;
  line-height: 1;
}
